<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541649249243-rar39i3bljlkphcb6gg1sghq398un0ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541649249243-rar39i3bljlkphcb6gg1sghq398un0ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBAg10Q6ycrAFqPp71VCwBUFrsOfGdwblI</string>
	<key>GCM_SENDER_ID</key>
	<string>541649249243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posyanduCareApps</string>
	<key>PROJECT_ID</key>
	<string>miniproject-posyanducare</string>
	<key>STORAGE_BUCKET</key>
	<string>miniproject-posyanducare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541649249243:ios:b91f8a8c45213819a17dfe</string>
</dict>
</plist>